@import 'variables';
@import 'slick';
@import 'mixins';
@import 'font';


body {
    background-color: $primary;
    color: $fontcolor;

    @include fontRegular;

    .frame-type-text ul, .frame-type-textpic ul, .tx-mask-products-details ul {
        list-style: none;
        padding-inline-start: 0;

        li {
            position: relative;
            margin-bottom: 10px;
            padding-left: 16px;

            &:before {
                content: "";
                background: black;
                width: 8px;
                height: 1px;
                position: absolute;
                left: 0;
                top: 11px;
            }
        }
    }

    a {
        text-decoration: none;
        color: $fontcolor;
        cursor: pointer!important;
    }
    .frame-type-section {
        position: relative;
    }
    section {
        padding: 3rem 0;
        overflow: hidden;

        .col-12:not(.col-md-4):not(.col-md-3):not(.col-md-6):not(.tx-mask-products-details) > .frame-type-text {
            max-width: 70%;
            margin: 0 auto;

            @media screen and (max-width: 768px) {
                max-width: 100%;
                //padding: 0 15px;
            }
        }

        &:not(.banner-section):not(.dl-pre-filter-section) > .frame {
            margin-bottom: 2rem;
        }

        & >  a + .frame-type-1col:nth-of-type(1):has(.frame-type-header) {
            margin-bottom: 0!important;
        }

        & > .frame:nth-last-child {
            margin-bottom: 0;
        }
    }

    .container {
        max-width: 1360px;
        margin: 0 auto;
    }
}