<!-- Header -->
<div id="navigation">
    <div class="progress-scroll"></div>
    <div class="container">
        <div class="row meta">
            <f:cObject typoscriptObjectPath="lib.siteSelector" />
            <!--<f:cObject typoscriptObjectPath="lib.search" /> -->
            <form method="get" id="form_kesearch_searchfield" name="form_kesearch_searchfield" action="/search/">
                <input type="text" id="ke_search_searchfield_sword" name="tx_kesearch_pi1[sword]" />
                <span class="search-icon"><input type="submit" id="ke_search_searchfield_submit" alt="Find" /></span>
            </form>
            <span class="search-overlay"></span>
        </div>
        <div class="row">
            <div id="navigation-menu" class="col-9 col-6-small main-menu">
                <div id="nav-hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                    <!--<f:render partial="LanguageMenu" arguments="{_all}" />-->
                <f:cObject typoscriptObjectPath="lib.MAINMENU" />
            </div>
            <div class="col-3 col-6-small">
                <f:render partial="Logo" arguments="{_all}" />
            </div>
        </div>
    </div>
    <!--      
    <form method="post" action="#">
        <input type="text" name="query" id="query" placeholder="Search" />
    </form>
    <f:render partial="SocialMedia" />
    -->
</div>