
img {
    max-width: 100%;
    height: auto;
}

figcaption.image-caption {
    font-variant: small-caps;
}

.frame.frame-default {
    margin-bottom: 2rem;
}

.ce-intext [data-ce-columns="1"],
.ce-intext [data-ce-columns="2"],
.ce-intext [data-ce-columns="3"],
.ce-intext [data-ce-columns="4"] {
    width: 100%;
}

.ce-intext [data-ce-columns="2"] .ce-column,
.ce-center [data-ce-columns="2"] .ce-column {
    width: 48%;
    margin-right: 2%;
}

.ce-intext [data-ce-columns="3"] .ce-column,
.ce-center [data-ce-columns="3"] .ce-column {
    width: 31%;
    margin-right: 2%;
}

.ce-intext [data-ce-columns="4"] .ce-column,
.ce-center [data-ce-columns="4"] .ce-column {
    width: 23%;
    margin-right: 2%;
}

.ce-intext.ce-right .ce-gallery {
    margin-left: 0;
}

.ce-intext.ce-left .ce-gallery {
    margin-right: 0;
}

.ce-textpic,
.ce-image,
.ce-nowrap .ce-bodytext,
.ce-uploads li,
.ce-uploads div {
    overflow: visible;
}

.ce-gallery figure.video {
    display: block;
}

.video-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.video-embed iframe,
.video-embed video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100% !important;
    height: 100% !important;
}


/* Workaround fuer Responsive Videos in Verbindung mit fluid_styled_content */

.frame-layout-10 .ce-center .ce-inner {
    position: relative;
    float: none;
    right: -50%;
}

.frame-layout-10 .ce-left .ce-gallery,
.frame-layout-10 .ce-column {
    float: none;
}

.frame-layout-10 .ce-center .ce-outer {
    position: relative;
    float: none;
    right: 50%;
}

@media screen and (min-width: 601px) {
    .ce-intext [data-ce-columns="1"],
    .ce-intext [data-ce-columns="2"],
    .ce-intext [data-ce-columns="3"],
    .ce-intext [data-ce-columns="4"] {
        width: 50%;
    }
    .ce-intext.ce-right .ce-gallery {
        margin-left: 1rem;
    }
    .ce-intext.ce-left .ce-gallery {
        margin-right: 1rem;
    }
    .ce-textpic,
    .ce-image,
    .ce-nowrap .ce-bodytext,
    .ce-uploads li,
    .ce-uploads div {
        overflow: hidden;
    }
}

/* felogin */

.frame-type-felogin_login legend {
    display: none;
}

.frame-type-felogin_login label input {
    display: block;
}

.frame-type-felogin_login label input[type="checkbox"] {
    display: inline-block;
}

.frame-type-felogin_login fieldset div {
    margin: 0 0 1rem 0;
}