<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
<head></head>
<body>

<f:section name="body">

    <a id="top" name="top"></a>
    <header id="header">
        <f:render partial="Navigation/Navigation" arguments="{typoscriptObjectPath: 'lib.dynamicContent', pageUid: '{data.uid}'}"/>
        <f:cObject  typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '1'}" />
        <div class="scroll-downs">
            <a href="#content">
                <div class="mousey">
                    <div class="scroller"><p></p></div>
                </div>
            </a>
        </div>
    </header>

    <!--TYPO3SEARCH_begin-->
    <main id="content">
        
        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '2'}" />
    
    </main>
    <!--TYPO3SEARCH_end-->
    <footer id="footer">
        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '3'}" />
        <f:render partial="Footer/Footer" arguments="{typoscriptObjectPath: 'lib.dynamicContent', pageUid: '{data.uid}'}"/>
    </footer>

</f:section>
</body>
</html>